{% extends "mainsite/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{%static "assets/css/forms.css" %}">

{% endblock %}

{% block content %}


<form method="POST" class="post-form">{% csrf_token %}
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>target:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			{{ form.target|add_class:"form-control" }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>component:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			{{ form.component|add_class:"form-control" }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>amount:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<input class="form-control" id="id_amount" name="amount" type="number">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>unit:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<select id="id_unit" name="unit">
				<option value="" selected="selected">choose unit</option>
				<option value="g">g</option>
				<option value="kg">kg</option>
				<option value="mg">mg</option>
				<option value="fl oz">fl oz</option>
				<option value="oz">oz</option>
				<option value="L">L</option>
				<option value="mL">mL</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>base amount:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<input class="form-control" id="id_base_amount" name="base_amount" type="number">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>base unit:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<select id="id_base_unit" name="base_unit">
				<option value="" selected="selected">---------</option>
				<option value="g">g</option>
				<option value="kg">kg</option>
				<option value="mg">mg</option>
				<option value="fl oz">fl oz</option>
				<option value="oz">oz</option>
				<option value="L">L</option>
				<option value="mL">mL</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>citation:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<input class="form-control" id="id_citation" maxlength="200" name="citation" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel"></div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
</form>

{% endblock %}