{% extends "mainsite/base.html" %}

{% block content %}

<div class="page-header text-center">
  <h1>{{ companies.0.name }}</h1>
</div>

<div class="row">
{% for photo in photos %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ photo.photo.url }}"/>
      <div class="caption">
        <p class="text-center">{{ photo.title }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<a href="{% url "directory.views.company_photo_new" %}">add a company photo</a>

<div class="page-header text-center">
	<h3>Parent Company</h3>
</div>
{% for parent in parentlist %}
  {% if parent != None %}
	<button type="button" class="btn btn-default"><a href="{% url "directory.views.company_detail" string=parent|slugify %}">{{ parent }}</a></button>
  {% endif %}
{% endfor %}

<div class="page-header text-center">
	<h3>Subsidiaries</h3>
</div>
{{ company.get_subsidiaries }}

<div class="page-header text-center">
	<h3>Family</h3>
</div>
{{ company.get_lineage }}

<div class="page-header text-center">
<h3>Products</h3>
</div>

{% for food in foodlist %}
	<button type="button" class="btn btn-default"><a href="{% url "directory.views.food_detail" string=food|slugify %}">{{ food }}</a></button>
{% endfor %}

{% endblock content %}