{% extends "directory/base.html" %}

{% block content %}

<div class="page-header text-center">
  <h1>{{ company.name }}</h1>
</div>

{% for photo in photos %}
	<img src="{{ photo.photo.url }}"/>
{% endfor %}

<a href="{% url "directory.views.company_photo_new" %}">add a company photo</a>

<div class="page-header text-center">
	<h3>Parent Company</h3>
</div>
{% if company.parent != None %}
	{{ company.parent }}
{% endif %}

<div class="page-header text-center">
	<h3>Subsidiaries</h3>
</div>
{{ company.get_subsidiaries }}

<div class="page-header text-center">
	<h3>Family</h3>
</div>
{{ company.get_lineage }}

<div class="page-header text-center">
<h3>Products</h3>
</div>

{% for food in foods %}
	<button type="button" class="btn btn-default"><a href="{% url "directory.views.food_detail" pk=food.pk %}">{{ food.name }}</a></button>
{% endfor %}

{% endblock content %}