{% extends "mainsite/base.html" %}

{% block content %}
<!-- Split button -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort By
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Company Name</a></li>
    <li><a href="#">Number of Foods</a></li>
  </ul>
</div>

<table class="table">
<thead>
  <tr>
    <th>Company</th>
    <th>Ancestor</th>
  </tr>
</thead>
<tbody>
  {% for key, value in companydict.items %}
    <tr>
          <td><a href="{% url "directory.views.company_detail" string=key %}">{{ value.0 }}</a></td>
          <td>
          {% for val in value %}
            {{ val.get_ancestor }}
          {% endfor %}
          </td>
       </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}