{% extends "mainsite/base.html" %}

{% block content %}

<div class="page-header text-center">
  <h1>{{ foods.0.name }}</h1>
</div>

<div class="row">
{% for photo in photos %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ photo.photo.url }}"/>
      <div class="caption">
        <p class="text-center">{{ photo.title }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<a href="{% url "directory.views.food_photo_new" %}">add a food photo</a>

<div class="page-header text-center">
	<h2>Nutrition</h2>
</div>

{{ food.base_amount }} {{ food.base_unit }}

<div class="page-header text-center">
	<h2>Company</h2>
</div>

{{ companies }}

<div class="page-header text-center">
	<h2>Contents</h2>
</div>


{% for key, value in componentdict.items %}
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default"><a href="{% url "directory.views.food_detail" string=value.0 %}">{{ key }}</a></button>
	  <button type="button" class="btn btn-default">{{ value.1 }}</button>
	</div>
{% endfor %}

<p>Edited by:<p>
{% for food in foods %}
	<a href="{% url "directory.views.food_entry" pk=food.pk %}">{{ food.user.username }}</a>

{% endfor %}
<!--{% for key, value in contents.items %}
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default"><a href="{% url "directory.views.food_detail" pk=value.1 %}">{{ value.0 }}</a></button>
	  <button type="button" class="btn btn-default">{{ value.2|stringformat:"i" }}{{ value.3 }}</button>
	</div>
{% endfor %}


<!--FoodMap.objects.filter(target=food && component=content).amount
FoodMap.objects.filter(target=food && component=content).unit-->


{% endblock content %}