{% extends "mainsite/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" type="text/css" href="{%static "assets/css/leaflet.css" %}">
{% endblock %}
{% block content %}

<div class="page-header text-center">
  <h1>{{ foods.0.name }}</h1>
</div>

<div class="row">
{% for photo in photos %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ photo.photo.url }}"/>
      <div class="caption">
        <p class="text-center">{{ photo.title }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<a href="{% url "directory.views.food_photo_new" %}">add a food photo</a>

<div class="page-header text-center">
	<h2>Nutrition</h2>
</div>

{{ food.base_amount }} {{ food.base_unit }}

<div class="page-header text-center">
	<h2>Company</h2>
</div>

{{ companies }}

<div class="page-header text-center">
	<h2>Contents</h2>
</div>


{% for key, value in componentdict.items %}
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default"><a href="{% url "directory.views.food_detail" string=value.0 %}">{{ key }}</a></button>
	  <button type="button" class="btn btn-default">{{ value.1 }}</button>
	</div>
{% endfor %}

<p>Edited by:<p>
{% for food in foods %}
	<a href="{% url "directory.views.food_entry" pk=food.pk %}">{{ food.user.username }}</a>

{% endfor %}

<p>Points of Sale<p>

<div id="map"></div>
{% for pos in pointsofsale %}
	{{ pos.latitude }} {{ pos.longitude }}
{% endfor %}

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="{%static "assets/js/leaflet.js" %}"></script>
<script type="text/javascript">
	for (i = 0; i < "{{pointsofsale|length}}"; i++) {
		var lat = "{{pointsofsale.0.latitude}}";
		var lng = "{{pointsofsale.0.longitude}}";
		L.marker([lat,lng]).addTo(map);
			console.log(lat, lng);
			console.log(String(i));
	};

</script>
<!--{% for key, value in contents.items %}
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default"><a href="{% url "directory.views.food_detail" pk=value.1 %}">{{ value.0 }}</a></button>
	  <button type="button" class="btn btn-default">{{ value.2|stringformat:"i" }}{{ value.3 }}</button>
	</div>
{% endfor %}


<!--FoodMap.objects.filter(target=food && component=content).amount
FoodMap.objects.filter(target=food && component=content).unit-->


{% endblock content %}