{% extends "mainsite/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{%static "assets/css/forms.css" %}">

{% endblock %}


{% block content %}


<form method="POST" class="post-form">{% csrf_token %}
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel">
			<p>name:</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<input class="form-control" id="id_name" maxlength="100" name="name" type="text">
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-4 frmlabel"></div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
</form>

{% endblock %}